#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main.phone {
  height: 90vh;
  aspect-ratio: calc(9/17);
  outline: 2px solid var(--rgb-line);
  border-radius: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: var(--rgb-light);
  box-shadow: var(--box-shadow);
  transition: ease-in 0.35s;
  &.disabled {
    transform: translateY(120%);
  }
  & section.screen {
    overflow: hidden;
    outline: 2px solid var(--rgb-line);
    position: relative;
    aspect-ratio: calc(9/16);
    height: 80vh;
    background-color: var(--rgb-line);
    display: grid; 
    & > section {
      aspect-ratio: calc(9/16);
      height: 80vh;
      grid-row: 1;
      grid-column: 1;
    }
    & section.home-screen { 
      background-image: url("../public/assets/img/bg/angela-wallpaper.png");
      background-size: cover;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
      & div.app-icon {
        display: flex;
        flex-direction: column;
        align-items: center; justify-content: center;
        color: var(--rgb-line);
        & button {
          width: 5rem;
          aspect-ratio: 1;
          font-size: 2rem;
          text-shadow: var(--box-shadow);
          display: flex;
          overflow: hidden;
          & > img {
            width: 5rem;
            aspect-ratio: 1;
          }
        }

      }
    }
  }

  & div.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    & button {
      background-color: var(--rgb-main);
      height: 2vh;
      aspect-ratio: 4;
      margin-top: 2vh;
      outline: 2px solid var(--rgb-line);
      
    }
  }
}

main.menu {
  color: var(--rgb-line);
  font-family: SourGummy;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../public/assets/img/bg/title.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  
  & h1 {
    max-width: 50rem;
    font-size: 8rem;
    line-height: 6rem;
    border-radius: 2rem;
    margin: 0rem 1rem;
    color: var(--rgb-text-light);
    text-align: end;
    filter: drop-shadow(-0.4rem -0.4rem var(--rgb-main-transparent)) drop-shadow(0.3rem 0.3rem var(--rgb-line));
  }
  & h2 {
    font-size: 2rem;
    margin: 0rem 1rem;
    border-radius: 1rem;
    color: var(--rgb-text-light);
    background: var(--rgb-main-transparent);
    padding: 0.5rem;

    font-weight: 200;
  }
  & button {
    border-radius: 1rem;
    background-color: var(--rgb-light);
    font-weight: 200;
    box-shadow: var(--box-shadow);
    font-size: 3rem;
    width: 18rem;
    height: 5rem;
    margin: 2rem 4rem 2rem 0rem;
    &:hover {
      transform: scale(1.05);
    }
  }
}

a {
  color: var(--rgb-light);
  &:hover {
    transform: scale(1.05);
  }
}