

@font-face {
  font-family: NotoSans;
  src: url("/assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: NotoSans;
  font-style: italic;
  src: url("/assets/fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: NotoColorEmoji;
  src: url("/assets/fonts/Noto_Color_Emoji/NotoColorEmoji-Regular.ttf");
}

:root {
  font-family: "NotoSans", "NotoColorEmoji", sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;


  --rgb-line: #802344;
  --rgb-main: #be3462;
  --rgb-main2:#be3482;
  --rgb-light: 	#ffb6c1;
  --rgb-light2: #ffd3b6;
  --rgb-juicy: #d363ea;
  --rgb-drab2: #9878b1;
  --rgb-drab: #c38dd5;
  --rgb-off: #bde7f1;
  --rgb-text-light: #fff0f0; 
  --rgb-offdrab: #c6ddf0;
  --rgb-shadow: #802344;
  
  --box-shadow: 0px 0px 0.5rem var(--rgb-shadow);
  --box-shadow-small: 0px 0px 0.3rem var(--rgb-shadow);
  font-size: 1.75vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--rgb-off);
  color: var(--rgb-text-light);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

}

button {
  all: unset;
  border-radius: 1rem;
  background-color: var(--rgb-light);
  box-shadow: var(--box-shadow-small);
  outline: 2px solid var(--rgb-line);
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--rgb-line);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-corner {
  display: none;
}
