section.app {
    transition: ease-in-out 0.25s;
    overflow: hidden;
    z-index: 3;
    transform: scale(1);
    &.disabled {
        pointer-events: none;
        transition: ease-in-out 0.25s;
        z-index: 1;
        transform: scale(0.75);
        opacity: 0;
    }
}
section.app.messages {
    background-color: var(--rgb-main);
    max-height: 80vh;
    aspect-ratio: calc(9/13);
    & header { 
        background-color: var(--rgb-main);
        transition: ease-in-out 0.25s;
        height: 5vh;
        border-bottom: var(--rgb-line) 0.5rem solid;
        box-shadow: var(--box-shadow);
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        & h1 {
            margin: 0;
            font-size: 1.5rem;
        }
        & button {
            width: 2rem;
            aspect-ratio: 1;
            background-color: transparent;
            box-shadow: none;
            outline: none;
            transition: ease-in 0.15s;
            &.disabled {
                width: 0;
                overflow: hidden;
            }
            & img {
                width: 2rem;
                aspect-ratio: 1;
            }
            &.home-button {
                margin-left: auto;
                margin-right: 0.5rem;
            }
        }
        & img.pfp {
            height: 4vh;
            aspect-ratio: 1;
            border-radius: 50%;
            outline: 0.15rem solid var(--rgb-line);
            transition: ease-in 0.15s;
            box-shadow: var(--box-shadow);
            &.disabled {
                width: 0;
                margin-left: 0;
                opacity: 0;
                overflow: hidden;
            }

        }
        
    }
    & > main {
        display: grid;
        & > * {
            grid-row: 1; grid-column: 1;
            max-height: 75vh;
        }
        & > .user-list {
            background-color: var(--rgb-drab);
            transition: ease-in-out 0.25s;
            transition-delay: 1s;
            max-height: 70vh; /*i don't know why it's not 75vh*/ 
            
            justify-content: center;
            padding: 1rem;
            
            overflow-y: scroll;
    
            &.disabled {
                pointer-events: none;
            }
            & .user {
                position: relative;
                height: 10vh;
                padding: 1rem;
                margin: 1rem 0;
                display: flex;
                flex-direction: row;
                border-radius: 1rem;
                outline: 0.15rem solid var(--rgb-line);
                box-shadow: var(--box-shadow);
                background-color: var(--rgb-main);
                cursor: pointer;
                &:nth-child(2n) {
                    background-color: var(--rgb-main2);
                }
                &:hover {
                    transform: scale(1.05);
                }
                & .pfp {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    & img {
                        height: 8vh;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        outline: 0.15rem solid var(--rgb-line);
                        box-shadow: var(--box-shadow);
                    }
                }
                & .text {
                    display: flex; 
                    flex-direction: column;
                    overflow: hidden;
                    width: max-content;
                    align-items: flex-start;
                    padding: 1rem;
                    text-align: left;
                    max-height: 3rem;
                    & .user-name {
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                    & .message-preview {
                        width: 12rem;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                & .notification {
                    position: absolute;
                    right: 0.5rem;
                    top: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 1.5rem;
                    aspect-ratio: 1;
                    background-color: var(--rgb-off);
                    outline: 0.15rem var(--rgb-line) solid;
                    & img {
                        width: 1.25rem;
                        aspect-ratio: 1;
                    }

                }
            }
        }
        & > .chat {
            height: 73vh;
            background-color: var(--rgb-drab);
            transition: ease-in-out 0.25s;
            display: flex;
            flex-direction: column;

            &.disabled {
                pointer-events: none;
                transform: translateX(100%);
            }
            & > .chat-history {
                background-image: url(../../../public/assets/img/bg/phone-wallpaper.png);
                background-size: cover;
                overflow-y: scroll;
                height: 100%;
                padding: 1rem 0;
                position: relative;
                & > .message {
                    display: flex;
                    flex-direction: row;
                    &.player {
                        flex-direction: row-reverse;
                        & > .text {
                            background-color: var(--rgb-main2);
                        }
                    }
                    & > .pfp {
                        width: 3rem;
                        display: flex;
                        align-items: flex-start; justify-content: center;
                        & > img {
                            margin-top: 1rem;
                            width: 2rem;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            outline: 0.15rem solid var(--rgb-line);
                            transition: ease-in 0.15s;
                            box-shadow: var(--box-shadow);
                        }
                    }
                    & > .text {
                        animation: messageAnimateIn 0.15s ease-out forwards;

                        text-align: left;
                        background-color: var(--rgb-main);
                        padding: 1rem;
                        margin: 0.25rem;
                        max-width: 15rem;
                        border-radius: 1rem;
                        outline: 0.15rem solid var(--rgb-line);
                        box-shadow: var(--box-shadow-small);
                        & img {
                            display: block;
                            width: 12rem;
                            border-radius: 0.5rem;
                            margin-top: 1rem;
                            outline: 0.15rem solid var(--rgb-line);

                        }
                    }
                    &.new-user {
                        margin-top: 0.75rem;
                    }
                }
                & .click-to-continue {
                    position: fixed;
                    aspect-ratio: 1;
                    right: 10.75rem;
                    bottom: 0.5rem;
                    border-radius: 50%;
                    animation: messageAnimateIn 0.15s ease-out forwards;
                    background-color: var(--rgb-light);
                    outline: 0.15rem dashed var(--rgb-line);

                    & img {
                        width: 4rem;
                        aspect-ratio: 1;
                    }       
                }
            }
            & .topic-select {
                background-color: var(--rgb-main);
                transition: ease-in-out 0.15s;
                border-top: var(--rgb-line) 0.25rem solid;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 40vh;
                padding: 0.5rem;
                &.hidden {
                    height: 5vh;
                }
                & .send {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    gap: 1rem;
                    & .message-bar {
                        height: 2rem;
                        outline: 0.15rem solid var(--rgb-line);
                        padding: 0.5rem 0.5rem; 
                        border-radius: 1rem;
                        background-color: var(--rgb-light);
                        width: 19rem;
                        display: flex;
                        gap: 0.5rem;
                        & .selected-topic {
                            background-color: var(--rgb-main2);
                            color: var(--rgb-text-light);
                            white-space: nowrap;
                            outline: 0.15rem solid var(--rgb-line);
                            padding: 0.25rem 0.5rem; 
                            border-radius: 1rem;
                            &:hover {
                                text-decoration: line-through;
                                transform: scale(1.05);
                            }
                        }
                    }
                    & .send-button {
                        height: 2rem;
                        aspect-ratio: 1;
                        padding: 0.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & img {
                            width: 2rem; 
                            aspect-ratio: 1;
                        }
                    }
                }
                & > .topic-inventory {
                    width: 100%;
                    height: 100%;
                    & > .category-select {
                        margin: 0.5rem 0rem;
                        display: flex;
                        gap: 0.5rem;
                        
                        & > button {
                            transition: ease-in-out 0.25s;
                            width: 1.5rem;
                            padding: 0.25rem 0.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &.selected {
                                background-color: var(--rgb-main2);
                                width: 2.5rem;
                            }
                            & > img {
                                width: 1.5rem;
                                aspect-ratio: 1;
                            }
                        }
                    }
                    & > .topics {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        z-index: 100;
                        max-height: 7.5rem;
                        
                        & > .topic {
                            background-color: var(--rgb-light);
                            color: var(--rgb-line);
                            white-space: nowrap;
                            outline: 0.15rem solid var(--rgb-line);
                            padding: 0.25rem 0.5rem; 
                            border-radius: 1rem;
                            &:hover {
                                cursor: pointer;   
                                transform: scale(1.05);
                            }
                            &.disabled {
                                background-color: var(--rgb-drab);
                                color: var(--rgb-line);
                                &:hover {
                                    cursor: default;
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@keyframes messageAnimateIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
section.app.notes {
    & header {
        background-color: var(--rgb-main2);
        transition: ease-in-out 0.25s;
        height: 5vh;
        border-bottom: var(--rgb-line) 0.5rem solid;
        box-shadow: var(--box-shadow);
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        & h1 {
            margin: 0;
            font-size: 1.5rem;
        }
        & .page-number {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 4.25rem;
            gap: 0rem;
            & button.page-button {
                    display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    width: 1rem;
                    aspect-ratio: 0.5;
                }
            }
        }
        & h2 {
            margin: 0;
            font-size: 1.25rem;
        }
        & button {
            width: 2rem;
            aspect-ratio: 1;
            background-color: transparent;
            box-shadow: none;
            outline: none;
            transition: ease-in 0.15s;
            &.disabled {
                width: 0;
                overflow: hidden;
            }
            & img {
                width: 2rem;
                aspect-ratio: 1;
                
            }
            &.home-button {
                margin-left: auto;
                margin-right: 0.5rem;
            }
            
            
        }
    }
    & main {
        height: 100%;
        background-color: var(--rgb-drab);
        padding: 1rem;
        & > .textarea-wrapper {
            outline: 0.15rem solid var(--rgb-line);
            padding: 1rem;
            text-align: left;
            border-radius: 1rem;
            background-color: var(--rgb-text-light);
            color: var(--rgb-line);
            height: 65.5vh;
            & > textarea {
                all: unset;
                width: 100%;
                height: 100%;
                &::selection {
                  background: var(--rgb-light);
                }
            }
        }
    }
}

section.app.quackly {
    & header {
        background-color: var(--rgb-juicy);
        transition: ease-in-out 0.25s;
        height: 5vh;
        border-bottom: var(--rgb-line) 0.5rem solid;
        box-shadow: var(--box-shadow);
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        & h1 {
            margin: 0;
            font-size: 1.5rem;
        }
        & .page-number {
            display: flex;
            align-items: center;
            margin-left: 4.25rem;
            gap: 0.5rem;
        }
        & h2 {
            margin: 0;
            font-size: 1.25rem;
        }
        & button {
            width: 2rem;
            aspect-ratio: 1;
            background-color: transparent;
            box-shadow: none;
            outline: none;
            transition: ease-in 0.15s;
            &.disabled {
                width: 0;
                overflow: hidden;
            }
            & img {
                width: 2rem;
                aspect-ratio: 1;
            }
            &.home-button {
                margin-left: auto;
                margin-right: 0.5rem;
            }
        }
    }
    & main {
        height: 73vh;
        background-color: var(--rgb-juicy);
        & .quack-history {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 73vh;
            & .quack {
                padding: 1rem 0.5rem;
                text-align: right;
                display: flex;
                flex-direction: row;
                border-bottom: 0.25rem var(--rgb-line) dotted;
                background-color: var(--rgb-main2);
                &:nth-child(2n) {
                    background-color: var(--rgb-main);
                }
                & .pfp {
                    height: 8vh;
                    aspect-ratio: 1;
                    
                    outline: 0.15rem solid var(--rgb-line);
                    transition: ease-in 0.15s;
                    box-shadow: var(--box-shadow);
                    overflow: hidden;
                    border-radius: 0.5rem;
                    & img {
                        width: 8vh;
                        aspect-ratio: 1;
                    }
                }
                & .text {
                    width: 100%;
                    padding: 0rem 1rem;
                    & .blurb {
                        font-style: italic;
                        font-size: 0.75rem;
                    }
                }
            }
            
        }
    }
}